* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  font-family: "Karla", sans-serif;
}

main {
  background-color: #b9ebec;
  height: 500px;
  max-width: 640px;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.die-face {
  height: 70px;
  width: 70px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2.5rem;
}

.high-score {
  margin: 0px;
  margin-bottom: 10px;
}

.number-of-rolls {
  margin: 0px;
  margin-bottom: 10px;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
